.big-banner{
    height: auto;
    background-color: #E3E6E6;
}

.big-banner .shop-category{
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.PRODUCT{
    background: white;
    height: 420px;
    min-height: 420px;
    max-width: 400px;
    min-width: 290px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 0 290px;
    border-radius: 6px;
    /* cursor: pointer; */
}

.PRODUCT:hover{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}

.intro-row-area h2{
    height: 80px;
    font-size: 50px;
    font-weight: 700;
    color: black;
    text-transform: capitalize;
    padding-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.PRODUCT .a-cardui-header{
    padding: 0 20px;
    margin-bottom: 10px;
}
.PRODUCT .a-cardui-body{
    padding: 0 20px;
    height: 275px;
    margin-bottom: 44px;
}
.PRODUCT .a-cardui-body .center-image{
    height: 100%;
    width: 100%;
}
.PRODUCT .a-cardui-body .center-image .product-img img{
    height: 100%;
    width: 100%;
}

.PRODUCT .a-cardui-footer{
    padding: 0 20px;
    margin-bottom: 20px;
    position: absolute;
    width: 100%;
}